<p style="color: green"><%= notice %></p>

<%= turbo_stream_from @room %>

<%= link_to "â† All chats", rooms_path %>

<%= turbo_frame_tag "room" do %>
  <%= render @room %>

  <%= link_to "Edit this room", edit_room_path(@room) %>
<% end %>

<hr />

<%= turbo_frame_tag "messages" do %>
  <%= render @room.messages %>
<% end %>


<%= turbo_frame_tag "new_message", src: new_room_message_path(@room), target: "_top" %>
